html.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: rem(8) rem(12);
    display: block;
    @include font(18, 2.5, 25);
    background-color: $light-purple;
    text-transform: uppercase;
    margin-top: rem(30);
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 100;
}

.overlay {
    background: rgba(0, 0, 0, 0.75);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: $light-purple;
    padding: rem(14) rem(28);
    border-radius: rem(3);
    max-width: rem(600);
    min-width: rem(300);
}

.close-modal {
    position: absolute;
    top: rem(-10);
    right: rem(-10);
    width: rem(30);
    height: rem(30);
    border-radius: 50%;
    background-color: $light-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    .close-icon {
        width: rem(15);
        height: rem(15);
        margin-top: rem(-3);
        svg {
            path {
                fill: $black;
                stroke: $black;
                stroke-width: rem(4);
            }
        }
    }
}
